<?xml version="1.0" encoding="utf-8" ?>
<nlog throwsException="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Extensions.AzureTableStorage"/>
  </extensions>
  
  <targets>
    <target name="logfile"
            xsi:type="File" 
            deleteOldFileOnStartup="true"
            fileName="log.txt"
            layout="${longdate} ${level:uppercase=true} ${logger} ${event-context:item=EventId} ${message} ${ndc}" />
    <target name="console"
            xsi:type="ColoredConsole"
            layout="${longdate} ${level:uppercase=true} ${logger} ${event-context:item=EventId} ${message} ${ndc}" />
    <target name="AzureTableStorage"
            xsi:type="AzureTableStorage"
            layout="${longdate} ${level:uppercase=true} ${logger} ${event-context:item=EventId} ${message} ${ndc}"
            PartitionKeyPrefix="customPrefix"
            connectionStringKey="StorageAccountConnectionString"
            tableName="TempAzureTableStorageTargetTestsLogs" />
  </targets>

  <rules>
        <logger name="*" minlevel="Debug" writeTo="logfile,console,AzureTableStorage" />
    </rules>
</nlog>
