<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.Extensions.AzureTableStorage"/>
  </extensions>
  <targets>
    <target name="AzureTableStorage" xsi:type="AzureTableStorage" ConnectionStringKey="StorageAccountConnectionString" TableName="AzureTableStorageTargetTestsLogs" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="AzureTableStorage" />
  </rules>
</nlog>