<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.Extensions.AzureTableStorage"/>
  </extensions>
  <targets>
    <target name="AzureTableStorage" xsi:type="AzureTableStorage" PartitionKeyPrefix="customPrefix" connectionStringKey="StorageAccountConnectionString" tableName="TempAzureTableStorageTargetTestsLogs" />
    <target name="AzureTableStorage2" xsi:type="AzureTableStorage" connectionStringKey="StorageAccountConnectionString" 
            tableName="TempAzureTableStorageTargetTestsLogs" PartitionKeyPrefixDateFormat="yyyy-MM-dd" LogTimestampFormatString="yyyy-MM-dd hh:mm:ss.000"/>

  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="AzureTableStorage" />
    <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="AzureTableStorage2" />
  </rules>
</nlog>